:root{
  --bg-color: #121f3d;
  --text-color: white;
  --border-color: #40587c;
  --button-text-color: rgb(131, 217, 136);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 30px;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 90vh;
}

.calculator{
  width: max-content;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.calculator--screen{
  width: 100%;
  height: 70px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.calculator--input{
  border: 0;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: right;
}

.calculator--input:disabled{
  background: transparent;
}

.calculator--buttons{
  display: grid;
  grid-template-columns: repeat(3, 70px);
  grid-template-rows: repeat(3, 70px);
  gap: 4px;
  margin: 10px 0;
}

.calculator--button, .calculator--operation{
  border: 1px solid var(--border-color);  
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background: transparent;
  color: var(--text-color);
}

.calculator--operations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calculator--operation{
  color: var(--button-text-color);
  width: 40px;
}

button{
  transition: all .3s;
}

button:hover{
  cursor: pointer;
  opacity: 0.7;
}



