:root{
    --bg-color: #121f3d;
    --text-color: white;
    --border-color: #40587c;
    --button-text-color: black;
    --button-color:  #98ca3f;
    --border-button: #33b1ff;
    --footer-color: #03091e;
    --xs: 0.9rem;
    --sm: 1.1rem;
    --md: 1.4rem;
    --lg: 1.6rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    color: var(--text-color);
    font-size: 62.5%;
    display: grid;
    align-content: space-between;
    grid-template-rows: auto 10fr auto;
    height: 100vh;
    width: 100vw;
}

li {
    list-style: none;
}

header {
    width: 100%;
    min-width: 360px;
    height: 80px;
}

nav
{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-color);
    height: 100%;
    color: var(--font-shadow);
    margin: 0;
    padding: .5em;
    align-items: center;
}

.nav-contain-logo p {
    display: none;
}
.nav-contain-logo img
{
    height:40px;
    vertical-align:middle
}

.navTittle 
{
    padding: 0 0.5em;
    font-size: var(--xs);
    
}
.tagline
{
    font-weight: bold;
    font-size: var(--sm);
    background: 0 0;
    border: 1px solid #98ca3f;
    border-radius: 8px;
    color: #98ca3f;
    margin-right: 12px;
    padding: .5rem;
}

main {
    width: 100%;
    min-width: 360px;
    background-color: var(--bg-color);
    display: grid;
    align-content: center;
    font-size: var(--xs);
    box-shadow: 0 2px 16px 0 var(--footer-color);  
}

.message-container {
    width: 80%;
    min-width: 360px;
    display: flex;
    margin: auto;
    padding:12px 12px 54px 12px;
    text-align: justify;
    font-size: var(--xs);
}
.section-container {
    width: 60%;
    min-width: 360px;
    margin: 0 auto 30px;
    
}

form {
    width: 100%;
    min-width: 360px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 24px;
    box-shadow: 0px 1px 5px 0 var(--border-color); 
}

.contain-options {
    min-width: 150px;
}
.contain-options ul li {
    padding: 6px;
    display: flex;
    justify-content:flex-start;
    
}

.contain-options ul li p {
    padding: 0 12px;
    
}

.contain-options ul li:nth-child(1) {
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    
}
.contain-options ul li p:nth-child(1) {
    padding: 0;
    margin-bottom: 12px;
}

.input-length {
    padding-left: 12px;
}

.contain-password {
    min-width: 160px;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: -12px 0 12px -6px var(--border-color);
    padding: 0 0 0 12px;

}
.contain-button-and-password {
    width: 100%;
    display: flex;
    margin-top: 6px;
}

.password {
width: 100%;
cursor: not-allowed;
border: 0;
border-bottom: 1px solid var(--font-shadow);
font-size: var(--sm);
color: var(--button-color);
font-weight: bold;
display: block;
overflow: hidden;
resize: both;
line-height: 20px;
text-align: justify;
margin-right: 12px;
}

button:hover {
    background-color: var(--bg-color);
    cursor: pointer;
    border: 1px solid  #c1df8b;
}

.copy-button {
    background-color: transparent;
    padding: 0;
    border-radius: 6px;
    border: 1px solid var(--button-color);
    height: 24px;
    width: 24px;
}
.copy-button img {
    width: 20px;
}
.contain-button-generator button{
    background-color: var(--button-color);
    padding: 12px;
    width: 60%;
    margin: 12px 0;
    font-size: var(--xs);
    border-radius: 10px;
    border: 1px solid #1d4f7c;
    outline: none;
    color: var(--button-text-color);
}
.contain-button-generator button:hover {
    background-color: #c1df8b;
    cursor: pointer;
}

footer {
    width: 100%;
    min-width: 324px;
    background-color: var(--bg-color);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 16px 0 var(--footer-color); 
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding:0;
    margin: 0;
    align-items: center;
    height: 60px;
}

.social-media li p {
    display: none;
}

.social-media li img {
    width: 20px;
    margin:0 10px;
    filter: invert(1);
}

.social-media li img:hover {
    cursor: pointer;
    filter: contrast(0.1);
}


@media (min-width: 768px){

    nav
{
    justify-content: space-between;
    padding: 0 20px;
    
}
.nav-contain-logo {
    text-decoration: none;
    align-items: center;
    display: flex;
}
.nav-contain-logo img
{

    vertical-align:middle
}

.nav-contain-logo p {
    display: inline-flex;
    font-size: var(--sm);
    color: var(--text-color);
padding-left: 6px;
}

.social-media li p {
    display: inline-flex;
    font-size: var(--sm);

}

    .password, 
    .message-container,
    main {
        font-size: var(--md);
    }
    .navTittle, .contain-button-generator button 
    {
        font-size: var(--sm);
    }
    .tagline
    {
        font-weight: bold;
        font-size: var(--md);
    }
    
input[type="checkbox"] {
    transform: scale(1.5);
}

.copy-button {
    height: 40px;
    width: 40px;
}
.copy-button img {
    width: 30px;
}

.social-media li img {
    width: 24px;
    margin:0 20px;
}

}
