:root {
  --paradise-pink: rgb(239, 71, 111);
  --orange-yello-crayola: rgb(255, 209, 102);
  --caribbean-green: #06D6A0;
  --blue-NCS: rgb(17, 138, 178);
  --midnight-gree-eagle-green: #073B4C;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  background-image: linear-gradient(to bottom right, var(--paradise-pink), var(--orange-yello-crayola));
  background-size: 500%;
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  position: relative;

  animation-name: animate-background;
  animation-duration: 100s;
  animation-iteration-count: infinite;
}
main {
  position: absolute;
  top: -400px;
  width: 100%;
  height: 100%;
}

/*main title*/
.title {
  margin-bottom: 40px 0px;
  text-align: center;
  font-size: 4rem;
  color: var(--midnight-gree-eagle-green);
}


/*-----------------FORM------------------------*/
.form{
  background: rgba(17, 138, 178, 0.1);
  border: 1px solid var(--midnight-gree-eagle-green);
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 700px;
}

/*first part: password and copy button*/
.password {
  font-size: 2.5rem;
  color: var(--midnight-gree-eagle-green);
}
.copy-div {
  position: relative;
}
.copy-button:hover {
  color: var(--caribbean-green);
}
#message-after-copying {
  font-size: 1.5rem;
  color: var(--orange-yello-crayola);
  font-weight: bolder;
  position: absolute;
  top: 44px;
  left: 3px;
}


/*second part: irange input*/
.define-your-password-text {
  font-size: 2.5rem;
  color: var(--midnight-gree-eagle-green);
}
.range-input {
  width: 400px;
  height: 15px;
  appearance: none;
  outline: none;
  margin-left: 20px;
  background-color: var(--caribbean-green);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -1px 1px 1px black;
}
.range-input::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--paradise-pink);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--midnight-gree-eagle-green);
}


/*third part: check inputs*/
.option{
  display: flex;
  align-items: center;

  margin: 20px 0;
}


.option p {
  font-size: 2.5rem;
  color: var(--midnight-gree-eagle-green);
}
.option input{
  margin-right: 10px;
}
.checkbox-input {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--midnight-gree-eagle-green);
}
.checkbox-input:hover {
  cursor: pointer;
}
.checkbox-input:checked {
  background-color: var(--caribbean-green);
}


/*---------------id styles--------------------------*/
#password:disabled{
  cursor: not-allowed;
  border: 0;
  border-bottom: 1px solid var(--caribbean-green);
  background: transparent;
  padding: 10px 0;
  font-weight: 900;
  font-size: 2.6rem;
  width: 100%;
  color: var(--caribbean-green);
}

#button-copy{
  border: 1px solid var(--border-color);

  color: var(--caribbean-green);
  background: transparent;

  font-size: 2.0rem;
  padding: 10px 5px;
  border-radius: 10px;
  margin: 10px 0;
  
}

#button-copy:hover{
  cursor: pointer;
  color: var(--blue-NCS);

}

#button-copy:disabled{
  cursor: not-allowed;
}
/*-----------------------------------------*/

.button-div {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-div button {
  background-color: var(--caribbean-green);
  border: none;
  
  width: 300px;
  height: 50px;

  box-shadow: -1px 1px 2px black;
  transition: 0.2s;
}
.button-div button:hover {
  background-color: var(--midnight-gree-eagle-green);
  color: var(--orange-yello-crayola);
  cursor: pointer;
}




/*ANIMATIONS*/
@keyframes animate-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}